.post {
  background: white;
  margin: 25px;
}

.post p {
  text-align: center;
}

.spinner {
  background: white url(../img/spinner.gif) no-repeat center center;
}

.post img, .post .spinner {
  border: 1px solid black;
}

.post-grid {
  margin: 0 auto;
}

.middle {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
}
